@{ ViewData["Title"] = "Equipa x"; }
<div class="jumbotron ">
    <div class="row">
        <div class="col-md-10"><h2><strong>@ViewData["Title"]</strong></h2></div>

        <div class="col-md-2">
            <img src="~/imagens/logoesce.png" class="logoEsce">
        </div>

    </div>

    <br />
    <div class="row">

        <div class="col-md-4">
            <p>Walkiria </p>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="" alt="fotoWalkiria" class="imagensEquipa">
                    </div>
                    <div class="flip-card-back">
                        <br />
                        <p>Nº: x</p>
                        <p>Turma: x</p>
                        <p>GSI</p>
                        <br />
                        <br />
                        <a asp-action="InfoPessoalWalkiria" class="btn btn-link">+ INFO</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <p> Rodrigo Nunes</p>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/rodrigo.jpg" alt="Rodrigo" class="imagensEquipa">
                    </div>
                    <div class="flip-card-back">
                        <br />
                        <p>Nº:170323062</p>
                        <p>Turma: x </p>
                        <p>GSI</p>
                        <br />
                        <br />
                        <a asp-action="InfoPessoalRodrigo" class="btn-link">+ INFO </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p> Justino </p>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="" alt="Justino" class="imagensEquipa">
                    </div>
                    <div class="flip-card-back">
                        <br />
                        <p>Nº: x</p>
                        <p>Turma: x </p>
                        <p>GSI</p>
                        <br />
                        <br />
                        <a asp-action="InfoPessoalJustino" class="btn-link">+ INFO </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br>
        <h2>Descrição Equipa</h2>
        <p>
            Somos alunos que estão a frequentar o segundo ano de licenciatura de Gestão de Sistemas de Informação, no Instituto Politécnico de Setúbal.
            A pedido do docente David Simões .....
        </p>
        <h2>Descrição Projeto</h2>
        <p>
            No âmbito da disciplina de DA2 foi nos solicitado que realizássemos ..........
        </p>

    </div>