@{
    ViewData["Title"] = "Informações Pessoais:";
}

<div class="jumbotron">
    <br />
    <br />
    <div class="row">
        <div class="col-md-9">
            <h2><strong>@ViewData["Title"]</strong> </h2>
        </div>

        <div class="col-md-3">
            <img src="" alt="avatarWalkiria" class="avatar " />
        </div>
    </div>
    <br />
    <br />
    <br />

    <p>O meu nome é x , tenho x anos e sou de x . Frequento o 3 ano de Gestão de Sistemas de Informação. </p>

    <br />

    <p>E-mail: x </p>

    <br />
    <br />
    <a asp-controller="Home" asp-action="Equipa" class="btn btn-info">Voltar</a>
</div>

