@{
    ViewData["Title"] = "Informações Pessoais:";
}
 
<div class="jumbotron">
    <br />
    <br />
    <div class="row">
        <div class="col-md-9">
            <h2><strong>@ViewData["Title"]</strong> </h2>
        </div>

        <div class="col-md-3">
            <img src="" alt="avatarRodrigo" class="avatar " />
        </div>
    </div>
    <br />
    <br />
    <br />

    <p>O meu nome é Rodrigo Nunes, tenho 24 anos e sou de Almada. Frequento o 3 ano de Gestão de Sistemas de Informação, no entanto também frequentei o curso de Contabilidade e Finanças. </p>

    <br />

    <p>E-mail: rodrigomnunes@hotmail.com </p>

    <br />
    <br />
    <a asp-controller="Home" asp-action="Equipa" class="btn btn-info">Voltar</a>
</div>
